<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Archivo</title>
</head>
<body>
    <h1>Subir Archivo</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="files" multiple>
        <input type="hidden" name="token" value="{{ token }}">
        <button type="submit">Enviar</button>
    </form>
    
    <h2>probar descargar</h2>

    <a href="{% url 'descargar_archivo' 'example/FormatoFacturaAutodeclarable.pdf' %}">Descargar archivo</a>
</body>
</html>
